*{
  margin: 0;
  box-sizing: border-box;
}

#reloj-f{
  margin: 0 auto;
  width: 70%;
  font-size: 50px;
  display: block;
  background-repeat: no-repeat;
  border-radius: 30px;
  padding: 30px;
  background-color: rgba(145, 157, 112, 0.284);
}


.fecha{
  color: #c39965;
  padding: 10px;
  /*text-align: center;*/
  background: #b2bf8d9a;
  border-radius: 20px;
  font-size: 100%;
  height: 100px;
  text-align: center;
  box-shadow: 5px 5px;

}

.f-hora{
  background: #b2bf8d9a;
  border-radius: 20px;
  color: #c39965;
  padding: 10px;
  box-shadow: 5px 5px;
  display: block;
  height: 110px;
  padding-left: 180px;

  }

  .G{
    font-size: 90px;
  }
  
  .columna{
    float: left;
  }
  
  #am-pm, #segundos{
    font-size: 35px;
    margin-top: 6px;
    margin-left: 20px;
  }

  .columna2{
    display: flex;
    flex-direction: column;
  }
  
   @media screen and (width: 768px) {
     
    #reloj-f .fecha{
      font-size: 40px;
    }

    .f-hora{
      padding-left: 120px;
    }
    
   }

   @media screen and (width: 420px) {

    .fecha{
      font-size: 30px;
    }

    #hora, .G, #minutos{
      font-size: 40px;
    }

    .f-hora{
      padding-left: 35px;
    }

    #segundos, #am-pm{
      font-size: 20px;
      margin-left: 10px;
    }
   }
