*{
  margin: 0;
  box-sizing: border-box
}

body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: lightgray;
}

h1{
  margin-bottom: 20px;
  font-weight: bold;
}

.columnas-33{
  width: 100%;
}

.columna1{
  width: 20%;
  float: left;
  margin: 10px;
}

.columna2{
  width: 50%;
  float: left;
  margin: 10px;
  background-color: yellow;
}

.columna3{
  width: 24%;
  margin: 10px;
  float: right;
  background-color: darkgray;
}

.columna1 ul{
  list-style: none;
  padding-left: 0;
  background-color: lime;
  color: blue;
}

.texto{
  float: left;
  width: 55%;
}
.img-helecho{
  width: 200px;
  float: right;
}

p{
  font-size: 13px;
}
h2{
  margin-bottom: 20px;
}

h3{
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {


  .columnas-33{
    width: 100%;
  }

  .columna1{
    width: 30%;
    float: left;
  }

  .segunda{
    float: right;
    width: 65%;
    margin-right: 15px;
  }

  .columna2{
    width: 100%;
    margin: 0;
  }

  .columna3{
    width: 100%;
    margin: 0;
  }

  h1{
    font-size: 30px;
  }
}

@media screen and (max-width:480px) {
  
  .segunda{
    float: none;
    width: 100%;
  }

  .columna1{
    margin: 0;
    width: 100%;
  }

  .img-helecho{
    display: none;
  }

  .texto{
    width: 100%;
  }

  .columna3{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}