*{
  margin: 0;
}

body{
  margin: 20px;
}
h1{
  text-align: center;
  padding: 20px;
}

.conenido{
  margin-left: 15px;
  margin-right: 15px;
}

.columna-33{
  width: 100%;
  display: flex;
}

.columna{
  width: 33.33%;
  float: left;
}

h2{
  padding-bottom: 10px;
}

p{
  padding-bottom: 10px;
  font-size: 15;
}

.columna li{
  font-size: 15px;
}

@media screen and (max-width: 768px){

  .columna{
    width: 100%;
  }

  .primera{
    width: 33.33%;
  }
  .segunda{
    width: 66%;
    float: left;
  }

  .columna.tercera ul{
    width: 100%;
  }

  .columna.tercera ul li{
    width: 33%;
    float: left;
  }
}

@media screen and (max-width: 480px) {
  
  body{
    margin: 10px;
  }

  h1{
    text-align: left;
    font-size: 30px;
  }
  .primera{
    width: 100%;
  }

  .primerUL{
    list-style: none;
    padding-left: 0;
    margin-bottom: 15px
  }

  .segunda{
    width: 100%;
  }

  .columna.tercera ul li{
    float: none;
    width: 100%;
  }

  .columna.tercera ul{
    width: 90%;
  }
}