*{
  margin: 0;
  box-sizing: border-box;
}

.navbar a{
  color: white;
  text-decoration: none;
  margin: 20px;
  font-weight: bold;
}

header nav{
  position: fixed;
  width: 100%;
  text-align: right;
  padding: 30px 0px 30px 0px;
  background-color: #80949f78;
}

/*ENCABEZADO*/
.encabezado .name{
  padding-top: 150px;
  padding-bottom: 280px;
  background-size: cover;
  background-position-y: center;
  color: white;
  background-image: linear-gradient(to top, rgba(4, 4, 4, 0.5) 0%, rgba(9, 12, 38, 0.5) 100%), url(/IMG/encabezado.jpg);
  display: flex;
  flex-direction: column;
  text-align: center;
  font-family: 'Architects Daughter', cursive;
  width: 100%;
}

.name .last{
  font-size: 70px;
}

.name .first{
  font-size: 50px;
}

.name span{
  font-size: 30px;
}

#mi-foto img{
  width: 23%;
  border-right: 5px dotted #4874a380;
  border-top: 5px dotted #4874a380;
  float: left;
  padding-top: 10px;
  padding-right: 10px;
  margin: 20px;
  margin-top: 30px;
}

.sobre-mi, #educacion, #competencias{
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 50px;
  padding: 20px;
}

.sobre-mi .sobre{
  color: rgb(3, 66, 114);
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-bottom: 5px dotted #4874a380;
  margin-left: 20px;
}

.sobre-mi .mi{
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}

.linea{
  display: flex;
  flex-direction: column;
  margin: 20px;
  color: #23568dc9;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.sobre-mi{
  width: 90%;
  right: 0;
  margin: 0 auto;
  margin-top: 70px;
}

.sobre-mi i{
  font-size: 35px;
  color: #b99e9e;
  margin: 10px;
}


.perfil{
  text-align: center;
  margin: 30px;
}

.perfil p{
  text-align: justify;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Architects Daughter', cursive;

}

#educacion{
  background-color: #4d708872;
  margin: 0;
  padding: 80px;
  padding-bottom: 50px;
}

.educacion {
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-bottom: 5px dotted #fff;
  color: rgb(3, 66, 114);

}

#educacion i{
  color: #fff;
  float: left;
  padding: 20px;
  font-size: 40px;
}

.curso{
  text-align: justify;
  display: block;
  margin-top: 30px;
}

.curso h4{
  padding-top: 25px;
  color: rgb(3, 66, 114);
  font-size: 30px;
  margin: 15px;
}

.curso .duracion{
  color: rgba(12, 39, 72, 0.4);
  padding: 0px;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
}

#educacion ul{
  margin-left: 30px;
  list-style: none;
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.338);
  padding: 15px;
  border-radius: 20px;
}

#educacion ul li{
  margin: 5px;
  display: block;
}

#competencias{
  padding-top: 30px;
  float: left;
}

#competencias .competencias{
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-bottom: 5px dotted #4874a380;
  color: rgb(3, 66, 114);
  padding-bottom: 10px;
}

.Com{
  font-size: 30px;
  display: block;
  margin-top: 50px;
}

#portafolio {
  width: 50%;
  float: right;
  margin-top: 80px;
  text-align: center;
}

.boletin{
  width: 300px;
  margin-top: 50px;
}

#portafolio .portafolio{
  font-size: 45px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  border-bottom: 5px dotted #4874a380;
  color: rgb(3, 66, 114);
  padding-bottom: 10px;
}

.sub{
  padding-top: 20px;
  color: rgb(3, 66, 114);
  font-size: 30px;
}

.boletín p{
  text-align: justify;
  font-weight: 500;
  font-size: 20px;
  font-family: 'Architects Daughter', cursive;
  width: 50%;
  margin-left: 190px;
  text-align: center;
}

/*DISEÑO RESPONSIVO 768*/

@media screen and (max-width: 768px) {
  .navbar{
    text-align: center;
  }

  .name .last{
    font-size: 40px;
  }

  .name .first{
    font-size: 30px;
  }

  .name span{
    font-size: 20px;
  }

  .encabezado .name{
    padding: 130px;
  }

  .educacion{
    font-size: 45px;
  }

  #competencias{
    width: 40%;
    margin: 0;
    
  }

  #portafolio{
    width: 50%;
    margin: 30px;
  }

  .boletín p{
    text-align: center;
    margin-left: 0;
  width: 100%;
  }
}


/*DISEÑO RESPONSIVO 768*/

@media screen and (max-width: 768px) {

  .navbar{
    font-size: 10px;
  }

  .encabezado .name{
    padding-left: 0;
    padding-right: 0;
  
  }
  
  .name .last{
    font-size: 25px;
  }

  .name .first{
    font-size: 20px;
  }

  .name span{
    font-size: 10px;
  }

  .encabezado .name{
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .columnas{
    width: 100%;
  }

  .sobre-mi .sobre{
    font-size: 30px;
  }

  .sobre-mi .mi{
    font-size: 30px;
  }

  .linea{
    font-size: 10px;
    width: 100%;
  }

  #mi-foto .foto-p{
    width: 180px;
  }

  .sobre-mi .perfil p{
    text-align: center;
    font-size: 15px;
    width: 100%;
  }

  #portafolio{
    width: 100%;
  }

  #competencias{
    width: 100%;
    float: none;
  
  }

  .boletin{
    width: 50px;
  }

  #competencias .competencias{
    font-size: 20px;
  }

  #portafolio .portafolio{
    font-size: 20px;
  }

  .sub{
    font-size: 15px;
  }

  .boletín p{
    font-size: 15px;
    text-align: center;
    margin-left: 25px ;
  }
  .Com {
    font-size: 20px;
  }

  .competencias progress{
  }
}