*{
  margin: 0;
  font-family: arial;

}

.titulo{
  padding: 20px;
  font-size: 20px;
}

.informacion{
  margin-left: 20px;
  margin-right: 10px;
  width: 100%;
}

b{
  font-weight: bold
}

.subtitulo{
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 30px;
}

.columna-33{
  width: 30%;
  float: left;
  padding-bottom: 80px;
}

.columna-33 ul{
  list-style: none;
}

.columna-33 ul li{
  margin-left: -45px;
  font-size: 18px;
  padding: 5px;
}

.columna2 ul li{
  margin-left: 260px;
  font-size: 20px;
}

a{
  text-decoration: none;
}

.linea{

}

@media screen and (max-width: 480px){

  .titulo{
    font-size: 18px;
  }
  .columna-33{
    float: none;
    width: 100%;
    padding-bottom: 0;
  }

  .subtitulo{
    font-size: 25px;
    padding-bottom: 0px;
  }

  .linea{
    width: 90%;
    height: 2px;
    background: grey;
    margin-bottom: 10px;
  }

  .columna2 ul li{
    list-style: none;
    margin-left: 0;
    font-size: 20px;
    padding: 7px;
  }

  .columna2 ul li a{
    margin-left: -45px;
    display: flex;
  }

  .salto{
    margin-left: -42px;
  }
}