*{
    margin: 0;
}

body {
    margin: 0;
    background-color: #7a133f;
    margin-top: 100px;


}
.contenido{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.calculadora{

    display: grid;
    grid-template-columns: repeat(4, 75px);
    grid-template-rows: 160px repeat(5, 75px);
    background-color: #932153;
    padding: 15px;
    border-radius: 30px;
    box-shadow: 10px 10px 0px 5px rgba(0, 0, 0, 0.329); 
    color: white;
    width: 310px;
margin: 0 auto;
}

button {
    cursor: pointer;
    margin: 5px;
    padding: 0;
    border-radius: 30px;
    font-size: 45px;
    border: none;
    background-color: #932153;
    box-shadow: 5px 5px 10px -3px rgba(0, 0, 0, 0.4), -5px -5px 15px 3px #b8447657;
    color: white;

}

button:active {
    background-color: #7d1e47;
}

button:focus{
    outline: none;
}

.display{
    grid-column: 1 / -1;
    padding: 15px;
    display: flex;
    margin: 10px 10px 20px;
    flex-direction: column;
    align-items: flex-end;
    background-color: #363636;
    border-radius: 30px;
    text-align: right;
    justify-content: space-between;
    word-break: break-all; /*por si tenemos que irnos a 2 lineas*/
    box-shadow: 0px 0px 0px 10px #00000050;
}

.col2{
    grid-column: span 2;
}

#valor-actual{
    font-size: 30px;
}

#valor-anterior{
    font-size: 40px;
}