*{
  margin: 0;
  box-sizing: border-box;
}

a{
  text-decoration: none;
}

.hamb {
  display: none;
}

/*SIDE BAR*/
.wrapper .side-bar{
  background-color: #492618;
  position: fixed;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  padding-right: 20px;
}

.wrapper .side-bar ul{
  list-style: none;
  text-decoration: none;
}

.wrapper .side-bar ul li a{
  display: block;
  padding: 13px 30px;
  color: #fdf1e2;
  border-bottom: 1px solid #fdf1e2;
  font-size: 16px;
  position: relative;
}

.wrapper .side-bar ul li a img{
  width: 100%;
}

/*CONTENIDO*/

body{
  width: 80%;
}

.encabezado{
  top: 0;
  /* z-index: 10; */
  width: 100%;
  background-color: #fdf1e2;
  display: flex; 
  justify-content: space-between;
  position: relative;
  padding-right: 20PX;
}


.encabezado .logo{
  width: 130px;
  border-radius: 560%;
  margin: 10px;
  /* float: left; */
}

nav{
  color: #492618;
  font-weight: bold;
  margin-left: 15px;
  display: inline-block;
  margin-top: 60px;
  font-family: 'Happy Monkey', cursive;
}

.indice{
  width: 80%;
  text-align: right;
}

.indice a{
  color: #492618;
  font-size: 20px;
  padding: 5px;
}

/* .banner img{
  width: 100%;
  position: relative;
} */

.banner .texto-banner{
  /* position: absolute; */
  text-align: center;
  width: 100%;
  padding: 100px 0px 100px 0px;
  font-size: 70px;
  color: white;
  font-weight: lighter;
  font-family: 'Alex Brush', cursive;

  background-image: linear-gradient(to top,rgba(130, 130, 130, 0.188) 0%, rgba(198, 198, 198, 0.147) 100%), url(../img/cupcake-chocolate.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: bottom;
}

main h2{
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
  color: #492618;
  font-family: 'Happy Monkey', cursive;
  font-weight: bold;
  padding: 30px;
}

#promociones p{
  margin-left: 40px;
  margin-right: 40px;
  font-size: 15px;
  font-family: 'Happy Monkey', cursive;
}

h3{
  color: rgb(203, 151, 18);
}

.promocion h3{
  font-size: 30px;
  text-align: center;
  font-family: 'Happy Monkey', cursive;
  margin-top: 30px;
  margin-bottom: 30px;
}

.columnas-50{
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
  display: flex; 
  justify-content: space-between;
  font-family: 'Happy Monkey', cursive;

}

.postre1{
  width: 50%;
  text-align: center;
  font-size: 15px;
}

.postre2{
  width: 50%;
  text-align: center;
  font-size: 15px
}

.postre1 img{
  width: 80%;
}

.postre2 img{
  width: 80%;
}

.promocion h4{
  font-size: 20px;
  font-family: 'Happy Monkey', cursive;
  color: rgb(203, 151, 18);
}

#reposteria{
  width: 100%;
  margin-left: 40px;
  margin-right: 40px;
}

.contenido-reposteria img{
  width: 50%;
  float: left;
  padding: 10px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.contenido-reposteria p{
  padding: 20px;
  font-size: 15px;
  margin-right: 100px;
  font-family: 'Happy Monkey', cursive;

}

#postre-saludable{
  margin-top: 100px;
  background-color: #49261851;
  width: 100%;
}

.fila-3{
  width: 100%;
  margin-left: 30px;
  margin-right: 30px;
  display: flex; 
  justify-content: space-between;
}

.columna-33{
  width: 33.33%;
}

.postreS1 img{
  width: 90%;
}

.postreS2 img{
  width: 90%;
}

.postreS3 img{
  width: 90%;
}

.postreS-contenido{
  padding: 10px;
  text-align: center;
  font-family: 'Happy Monkey', cursive;
}

.postreS-contenido h3{
  font-size: 25px;
}

.img-nos img{
  width: 100%;
}

iframe{
width: 100%;

}

.pie{
  font-size: 20px;
  padding: 20px;
  background-color: #492618;
}

.direccion{
  color: white;
  text-align: center;
} 

.pie1{
  color: white;
  text-align: center;
}

.dias h3{
  text-align: center;
}

#contactanos{
  background-color: #4926183a;
}

@media screen and (width: 768px) {

  .postre1{

    width: 50%;
    }

  .postre2{
    margin-right: 30px;
  }
  
  #postre-saludable{
    margin-right: 50px;
    width: 100%;
    padding-right: 30px;
  }

  .texto{
    padding: 20px;
  }
}

